// var definitions
$font-size: 62.5%;


// media query break points
$tablet-width: 768px;
$phone-width: 420px;


// colors
$hover-clr:         #c7d9df;
$select-clr:        #ff9900;


// mixins
@mixin tablet {
    @media (min-width: #{$phone-width + 1px}) and (max-width: #{$tablet-width}) {
        @content;
    }
}

@mixin phone {
    @media (max-width: #{$phone-width}) {
        @content;
    }
}

@mixin tablet-phone {
    @media (max-width: #{$tablet-width}) {
        @content;
    }
}

// rem font size mixin
// @include font-size(14) -> 14px; when html { font-size 62.5% (base 10) }
@mixin font-size($sizeValue: 1.6) {
    font-size: ($sizeValue) + px;
    font-size: $sizeValue / 10 + rem;
}






// import compass-mixins to use compass with libsass
@import "../bower_components/compass-mixins/lib/compass";
@import "../bower_components/_normalize.scss/normalize";

// import stylesheets
@import "typography";
@import "tables";
@import "general";

